.gitattributesProject1/Project1/appsettings.Development.jsonProject1/Project1/ClientApp/src/app/editor-private-data/editor-private-data.component.spec.tsProject1/Project1/ClientApp/src/app/editor-private-data/editor-private-data.component.tsProject1/Project1/ClientApp/src/app/login/login.component.htmlProject1/Project1/ClientApp/src/app/login/login.component.spec.tsProject1/Project1/ClientApp/src/app/login/login.component.ts